<FlexboxLayout class="page">
  <StackLayout class="header">
    <Label class="app-name" text="Bonobo"></Label>
    <Label text="app description goes here"></Label>
  </StackLayout>
  <StackLayout class="form">
    <Label class="login" text="Login"></Label>
    <TextField hint="Email Address" keyboardType="email" autocorrect="false" autocapitalizationType="none" class="">
    </TextField>
    <TextField hint="Password" secure="true" class="input input-border"></TextField>
    <Button text="Forgot password?"></Button>
    <Button text="Continue"></Button>
    <Label text="Or login with"></Label>

    <StackLayout orientation="horizontal">
      <Button text="&#xf1a0;" class="fontAwesomeIcons icons"></Button>
      <Button text="&#xf09a;" class="fontAwesomeIcons icons"></Button>
    </StackLayout>
  </StackLayout>
</FlexboxLayout>
